
.header {
    background:#1F2937;
    flex-shrink: 0;
    padding-bottom: 150px;
    align-items: center;
    font-style: #F9FAF8;
    font-size: 18px;
    box-sizing: border-box;
    
    }

.headeritem {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 92px;
    margin-right: 92px;
   
}

.headerlink {
    display: flex;
    gap: 16px; 
    }


h2 {
    display: flex;
    flex-shrink: 0;
    font-size: 24px;
    font-weight: 900
}

a {
    text-decoration: none;
    color: white
}

.underhead {
    display: flex;
    color: white;
    justify-content: space-between;

}

#awesome {
    font-size: 48px;
    font-style: #F9FAF8;
    flex-wrap: wrap;
    margin-bottom: 0;
    flex-shrink: 1
}

.undercontent {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 0px;
    padding: 0px;
    margin-left: 125px;
    flex-wrap: wrap;
}

button {
    color: white;
    background: #3882F6;
    width: 90px;
    margin-left: 225px;
    border-radius: 8px;
    border-color: #3882F6;
    border-style: none;
    height: 24px

}

#headerimage {
    width: 400px;
    max-height: auto;
    display: flex;
    margin: 48px;
    margin-right: 90px;
    border-radius: 8px;
    border-style: solid;

}

.imagelink {
    margin-top: 62px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.stackimage {
    border-style: solid;
    border-radius: 18px;
    border-color:#3882F6;
    padding: 24px;
    border-width: 4px
}

.captionjs {
    display: flex;
    flex-direction: column;
    align-items: center
}

.captionpython { 
    display: flex;
    flex-direction: column;
    align-items: center
}

#stack {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    font-weight: bolder;
    font-size: 32px

}

.calltoaction {
    background:#3882F6;
    display: flex;
    margin: 32px 64px;
    padding: 16px 32px;
    border-radius: 8px;
    justify-content: space-between
}

.grey {
    background: #E5E7EB;
}

#skills {
    display: flex;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    justify-content: center
}

.actiontext {
    display: flex;
    flex-direction: column;
    color: white;
}

#action {
    font-weight: bolder;
}

#bottom-button {
    border-color: white;
    border-style: solid;
}



